{namespace tv = Pmwebdesign\Staffm\ViewHelpers}
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
    <h1><f:translate id="staffm.firma.list.headline" /></h1>
<f:flashMessages />
<f:form action="list" arguments="{mitarbeiter:mitarbeiter, key:key, standardsearch:standardsearch, cache: '{cache}'}" additionalAttributes="{role: 'form'}">   
<tv:widget.atoZNav objects="{firmas}" as="filteredFirmas" property="bezeichnung" search="{search}" maid="{maid}">  
    <f:if condition="{key} != 'auswahl'">  
        <f:then>
            <div class="input-group">
                <div class="input-group-prepend">
                    <f:security.ifHasRole role="PA">                                                
                        <f:link.action class="btn btn-default" title="Zum Formular für Firma anlegen" action="new"><f:translate id="staffm.firma.new" /></f:link.action>                    
                    </f:security.ifHasRole>   
                    <f:link.action title="Die Liste in Excel ausgeben" id="excelExport" class="btn btn-default" action="export" arguments="{searching:'{search}'}" name="excelExport" >
                        <f:image class="tx_staffm icon" src="typo3conf/ext/staffm/Resources/Public/Icons/Excel.png" />
                        Excel Export
                    </f:link.action>
                </div>
                <f:form.textfield class="form-control" placeholder="Suchwort..." name="search" value="{search}" />
                <div class="input-group-append">
                    <button type="submit" class="btn btn-default"><f:translate id="staffm.search" /></button>
                </div>           
            </div>               
        </f:then>
        <f:else>
            <table>
                <td class="tx-staffm bold">Name:&nbsp;</td><td>{mitarbeiter.LastName} {mitarbeiter.firstName}</td><br />
            </table><br />
            <div class="input-group">                       
                <div class="input-group-prepend">
                    <f:link.action class="btn btn-default" action="edit" controller="Mitarbeiter" arguments="{mitarbeiter:mitarbeiter, search:standardsearch}">zurück</f:link.action>
                </div>
                <f:form.textfield class="form-control" placeholder="Suchwort..." name="search" value="{search}" />
                <div class="input-group-append">
                    <f:form.submit class="btn btn-default" value="Suchen" />
                </div>           
            </div>                
        </f:else>
    </f:if>
<tv:widget.sort objects="{filteredFirmas}" as="sortedFirmas" property="bezeichnung">
<br />
<table  class="tx_staffm" >
	<tr>
                <th><f:translate key="tx_staffm_domain_model_firma.nummer" /></th>
		<th><f:translate key="tx_staffm_domain_model_firma.bezeichnung" /></th>	 
                <f:security.ifHasRole role="PA"><th class="staffmmobilehidden"></th></f:security.ifHasRole>
	</tr>

	<f:for each="{sortedFirmas}" as="firma">
		<tr>
                    <td><div id="f{firma.uid}" class="anchor"></div><f:link.action action="show" arguments="{firma:firma}"> {firma.nummer}</f:link.action></td>
                    <td><f:link.action action="show" arguments="{firma:firma}"> {firma.bezeichnung}</f:link.action></td>
                    <f:if condition="{key} == 'auswahl'">
                        <f:then>
                            <td><f:link.action class="btn btn-sm btn-success" action="choose" arguments="{mitarbeiter:mitarbeiter, firma:firma, search:standardsearch}"><f:translate id="staffm.choose" /></f:link.action></td>
                        </f:then>
                        <f:else>
                            <f:security.ifHasRole role="PA">
                                <td class="staffmmobilehidden">
                                    <div class="btn-group" style="float: right">
                                        <f:link.action class="btn btn-secondary btn-sm" title="{firma.bezeichnung} bearbeiten" action="edit" arguments="{firma : firma}"><f:translate id="staffm.edit" /></f:link.action>
                                        <f:link.action class="btn btn-danger btn-sm" action="delete" arguments="{firma : firma}"><f:translate id="staffm.delete" /></f:link.action>
                                    </div>
                                </td>
                            </f:security.ifHasRole>
                        </f:else>
                    </f:if>
		</tr>
	</f:for>
</table>
</tv:widget.sort>
</tv:widget.atoZNav>
</f:form>
</f:section>