{namespace tv = Pmwebdesign\Staffm\ViewHelpers}

<f:layout name="Default" />
<f:section name="main">
    <h1><f:translate id="staffm.firma.show.headline" /></h1>
    <f:flashMessages />
    <f:render partial="Firma/Properties" arguments="{firma:firma}" /><br />
    <div class="btn-group">
        <f:if condition="{key} == 'vonMit'">    
            <f:then>        
                <f:link.action class="btn btn-default" controller="Mitarbeiter" action="show" arguments="{mitarbeiter:mitarbeiter, search:standardsearch, userKey:userKey}"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span> Zurück zum Mitarbeiter</f:link.action>
            </f:then>
            <f:else>
                <f:link.action section="f{firma.uid}" class="btn btn-default" action="list"><f:translate id="staffm.back" /></f:link.action>
            </f:else>        
        </f:if>
        <f:link.action title="Die Liste in Excel ausgeben" id="excelExport" class="btn btn-default" action="export" arguments="{firma:firma}" name="excelExport" >
            <f:image class="tx_staffm icon" src="typo3conf/ext/staffm/Resources/Public/Icons/Excel.png" />
            Excel Export
        </f:link.action> 
    </div>
    <br /><br />
    <h3><f:translate id="staffm.text.zugeordnete" /> <f:translate key="tx_staffm_domain_model_mitarbeiter" /> (<f:count subject="{firma.mitarbeiters}" />)</h3>
    <table class="tx_staffm">    
        <tr>
            <th></th>
            <th class="staffmmobilehidden"><f:translate key="tx_staffm_domain_model_mitarbeiter.personalnummer" /></th>
            <th><f:translate key="tx_staffm_domain_model_mitarbeiter.last_name" /></th>
            <th><f:translate key="tx_staffm_domain_model_mitarbeiter.first_name" /></th>
            <th class="staffmmobilehidden"><f:translate key="tx_staffm_domain_model_mitarbeiter.title" /></th>
            <th class="staffmmobilehidden"><f:translate key="tx_staffm_domain_model_mitarbeiter.telephone" /></th>     
            <f:security.ifHasRole role="PA"><th class="staffmmobilehidden"></th></f:security.ifHasRole>
        </tr>    
        <f:for each="{firma.mitarbeiters}" as="ma">            
            <tr>
                    <td>
                        <f:if condition="{ma.image}">   
                            <f:for each="{ma.image}" as="img" key="key" iteration="iterator">        
                                <f:if condition="{iterator.isFirst}">
                                    <f:link.action controller="Mitarbeiter" action="showKst" arguments="{ma : ma, firma:firma, key: 'auswahlKst'}"><f:image class="tx_staffm profilbild klein" src="{img.originalResource.publicUrl}" /></f:link.action>                                            
                                </f:if>
                            </f:for>                                                                           
                        </f:if>                                           
                    </td>
                    <td class="staffmmobilehidden"><f:link.action controller="Mitarbeiter" action="showKst" arguments="{ma : ma, firma:firma, key: 'auswahlKst'}">{ma.personalnummer}</f:link.action></td>
                    <td><div id="ma{ma.uid}" class="anchor"></div><f:link.action controller="Mitarbeiter" action="showKst" arguments="{ma : ma, firma:firma, key: 'auswahlKst'}">{ma.lastName}</f:link.action></td>
                    <td><f:link.action controller="Mitarbeiter" action="showKst" arguments="{ma : ma, firma:firma, key: 'auswahlKst'}"> {ma.firstName}</f:link.action></td>
                    <td class="staffmmobilehidden"><f:link.action controller="Mitarbeiter" action="showKst" arguments="{ma : ma, firma:firma, key: 'auswahlKst'}">{ma.title}</f:link.action></td>
                    <td class="staffmmobilehidden"><f:link.action controller="Mitarbeiter" action="showKst" arguments="{ma : ma, firma:firma, key: 'auswahlKst'}">{ma.telephone}</f:link.action></td>                
                    <f:security.ifHasRole role="PA">
                        <f:then>
                            <td class="staffmmobilehidden">
                                <div class="btn-group" style="float: right">
                                    <f:link.action class="btn btn-secondary btn-sm" title="{ma.firstName} {ma.lastName} bearbeiten" controller="Mitarbeiter" action="edit" arguments="{mitarbeiter : ma}"><f:translate id="staffm.edit" /></f:link.action>
                                    <f:link.action class="btn btn-danger btn-sm" controller="Mitarbeiter" action="delete" arguments="{mitarbeiter : ma}"><f:translate id="staffm.delete" /></f:link.action>
                                </div>
                            </td>
                        </f:then>
                        <f:else>
                            <f:if condition="{aktuser.position} != 0">
                                <!-- Kostenstellenverantwortung prüfen -->                                
                                <f:for each="{kostenstellen}" as="kst">                                    
                                    <f:if condition="{kst.uid} == {ma.kostenstelle.uid}">
                                        <td><f:link.action class="btn btns-sm btn-secondary" controller="Mitarbeiter" action="editKst" arguments="{ma : ma, firma:firma, key: 'auswahlKst'}"><f:translate id="staffm.edit" /></f:link.action></td>
                                    </f:if>    
                                </f:for>
                            </f:if>
                        </f:else>
                    </f:security.ifHasRole>
            </tr>
        </f:for>
    </table>
</f:section>