<table class="tx_staffm">
    <tr>
        <th><f:translate key="tx_staffm_domain_model_qualifikation" /></th>
        <th><f:translate key="tx_staffm_domain_model_employeequalification.status" /></th>
        <th><f:translate key="tx_staffm_domain_model_employeequalification.note" /></th>    
    </tr>
        <f:for each="{mitarbeiter.employeequalifications}" as="employeequalification">        
            <tr>
                <td><f:link.action class="tx_staffm link" pluginName="Staffm" action="show" controller="Qualifikation" title="{employeequalification.qualification.beschreibung}" arguments="{qualifikation:employeequalification.qualification, mitarbeiter:mitarbeiter, key: 'vonMit', standardsearch:search}">{employeequalification.qualification.bezeichnung}</f:link.action></td>
                <td><f:link.action class="tx_staffm link" pluginName="Staffm" action="show" controller="Qualifikation" title="{employeequalification.qualification.beschreibung}" arguments="{qualifikation:employeequalification.qualification, mitarbeiter:mitarbeiter, key: 'vonMit', standardsearch:search}">{employeequalification.status} - {employeequalification.qualification.status.{employeequalification.status}}</f:link.action></td>
                <td><f:link.action class="tx_staffm link" pluginName="Staffm" action="show" controller="Qualifikation" title="{employeequalification.qualification.beschreibung}" arguments="{qualifikation:employeequalification.qualification, mitarbeiter:mitarbeiter, key: 'vonMit', standardsearch:search}">{employeequalification.note}</f:link.action></td>
            </tr>
        </f:for>
</table>
<f:if condition="{mitarbeiter.employeequalifications}">
    <f:then>
        <div class="btn-group" role="group">
            <f:link.action class="btn btn-default" action="list" controller="Qualifikation" arguments="{mitarbeiter:mitarbeiter, key:key, standardsearch:search, cache:'notcache'}"><f:translate id="staffm.choose" /></f:link.action>                    
            <f:link.action class="btn btn-danger" action="deleteQuali" arguments="{mitarbeiter:mitarbeiter}" title="Entfernt alle Qualifikationen!"><f:translate id="staffm.allremove" /></f:link.action>                    
        </div>
    </f:then>
    <f:else>
        <f:security.ifHasRole role="PA">
            <f:link.action style="float:left" class="btn btn-default" action="list" controller="Qualifikation" arguments="{mitarbeiter:mitarbeiter, key:key}"><f:translate id="staffm.choose" /></f:link.action><br />                        
        </f:security.ifHasRole>
        <br />
    </f:else>
</f:if>
