{namespace vhs = FluidTYPO3\Vhs\ViewHelpers}

<table class="tx_staffm">
    <tr>
        <th><f:translate key="tx_staffm_domain_model_qualifikation" /></th>
        <th><f:translate key="tx_staffm_domain_model_employeequalification.status" /></th>
        <th><f:translate key="tx_staffm_domain_model_employeequalification.reminder_date" /></th>
        <th><f:translate key="tx_staffm_domain_model_employeequalification.note" /></th>           
    </tr>
    <f:for each="{mitarbeiter.employeequalifications -> vhs:iterator.sort(sortBy: 'qualification.bezeichnung')}" as="employeequalification">        
        <tr>
            <td><f:link.action class="tx_staffm link" pluginName="Staffm" action="show" controller="Qualifikation" title="{employeequalification.qualification.beschreibung}" arguments="{qualifikation:employeequalification.qualification, mitarbeiter:mitarbeiter, key:key, standardsearch:search}">{employeequalification.qualification.bezeichnung}</f:link.action></td>
            <td>
                <f:link.action class="tx_staffm link" pluginName="Staffm" action="show" controller="Qualifikation" title="{employeequalification.qualification.beschreibung}" arguments="{qualifikation:employeequalification.qualification, mitarbeiter:mitarbeiter, key:key, standardsearch:search}">{employeequalification.status} - {employeequalification.qualification.status.{employeequalification.status}}</f:link.action>
                <f:comment><!-- Button for showing history --></f:comment>
                <a id="employeequalification{employeequalification.uid}" class="btn btn-default btn-sm" onclick="showHistory(this);"><f:translate key="tx_staffm_domain_model_history" /></a><br />
                <f:if condition="{employeequalification.histories}">
                    <table id="mapropertieshistory{employeequalification.uid}" style="display:none;border-spacing:0">
                        <tr>
                            <th><f:translate key="tx_staffm_domain_model_history.status" /></th>
                            <th><f:translate key="tx_staffm_domain_model_history.date_from" /></th>
                            <th><f:translate key="tx_staffm_domain_model_history.date_to" /></th>                            
                            <th><f:translate key="tx_staffm_domain_model_history.assessor" /></th>
                        </tr>
                        <f:for each="{employeequalification.histories}" as="history">
                            <tr>
                                <td title="{employeequalification.qualification.status.{history.status}}">{history.status}</td>
                                <td>{f:format.date(date: history.dateFrom, format: 'd.m.Y')}</td>
                                <td>
                                    <f:if condition="{history.dateTo}">
                                        {f:format.date(date: history.dateTo, format: 'd.m.Y')}
                                    </f:if>
                                </td>                                
                                <td>{history.assessor.lastName} {history.assessor.firstName}</td>
                            </tr>
                        </f:for>
                    </table>
                </f:if>
            </td>
            <td>
                <f:if condition="{employeequalification.reminderDate}">
                    <f:link.action class="tx_staffm link" pluginName="Staffm" action="show" controller="Qualifikation" title="{employeequalification.qualification.beschreibung}" arguments="{qualifikation:employeequalification.qualification, mitarbeiter:mitarbeiter, key:key, standardsearch:search}">{f:format.date(date: employeequalification.reminderDate, format: 'd.m.Y')}</f:link.action>
                </f:if>
            </td>
            <td><f:link.action class="tx_staffm link" pluginName="Staffm" action="show" controller="Qualifikation" title="{employeequalification.qualification.beschreibung}" arguments="{qualifikation:employeequalification.qualification, mitarbeiter:mitarbeiter, key:key, standardsearch:search}">{employeequalification.note}</f:link.action></td>            
        </tr>
    </f:for>
</table>
<script>
    /**
     * Show/hide the history
     * 
     * @returns {undefined}
     */
    function showHistory(stat) {
        var fullid = stat.id;       
        var id = fullid.substring(21);       
        var elem = document.getElementById("mapropertieshistory" + id);
        if (elem.style.display === "none") {
            elem.style.display = "";
        } else {
            elem.style.display = "none";
        }
    }
</script>
