{namespace tv = Pmwebdesign\Staffm\ViewHelpers}

<f:layout name="Default" />
<f:section name="main">
    <h1><f:translate id="staffm.kostenstelle.list.headline" /></h1>
    <f:translate key="staffm.text.exempted.costcenters" />
    <f:flashMessages />
    <f:form action="setRepresentationCostCenters" controller="Mitarbeiter" arguments="{representation:representation, key:key, userKey:userKey}" additionalAttributes="{role: 'form'}">
        <p><b>Name:</b> {representation.employee.LastName} {representation.employee.firstName}&nbsp;|&nbsp;<b>Name-Vertreter:</b> {representation.deputy.LastName} {representation.deputy.firstName}</p> 
        <table  class="tx_staffm" >
            <tr>
                <th><f:translate key="tx_staffm_domain_model_kostenstelle.nummer" /></th>
                <th><f:translate key="tx_staffm_domain_model_kostenstelle.bezeichnung" /></th>
                <th class="staffmmobilehidden"><f:translate key="tx_staffm_domain_model_kostenstelle.verantwortlicher" /></th>   
                <th></th>
            </tr>
            <f:for each="{kostenstellen}" as="kostenstelle">                
                <tr>                
                    <f:if condition="{tv:deputyCostCenterEmployee(representation:representation, costcenter:kostenstelle)} == 1">
                        <f:then>                
                            <td class="td{kostenstelle.uid}" style="background-color: #BCEE68"><div id="kst{kostenstelle.uid}" class="anchor"></div><f:link.action action="show" arguments="{kostenstelle : kostenstelle, search:search, kst:kst}">{kostenstelle.nummer}</f:link.action></td>
                            <td class="td{kostenstelle.uid}" style="background-color: #BCEE68"><f:link.action action="show" arguments="{kostenstelle : kostenstelle, search:search, kst:kst}">{kostenstelle.bezeichnung}</f:link.action></td>
                            <td class="td{kostenstelle.uid} staffmmobilehidden" style="background-color: #BCEE68"><f:link.action title="Tel.: {kostenstelle.verantwortlicher.telephone}" action="show" arguments="{kostenstelle : kostenstelle, search:search, kst:kst}">{kostenstelle.verantwortlicher.lastName} {kostenstelle.verantwortlicher.firstName}</f:link.action></td>
                            <td class="td{kostenstelle.uid}" style="background-color: #BCEE68"><f:form.checkbox id="costcenterCheck{kostenstelle.uid}" name="costcenters" value="{kostenstelle.uid}" multiple="1" checked="1" additionalAttributes="{onClick: 'setCheckbox(this);'}" /></td>
                        </f:then>
                        <f:else>
                            <td class="td{kostenstelle.uid}"><div id="kst{kostenstelle.uid}" class="anchor"></div><f:link.action action="show" arguments="{kostenstelle : kostenstelle, search:search, kst:kst}">{kostenstelle.nummer}</f:link.action></td>
                            <td class="td{kostenstelle.uid}"><f:link.action action="show" arguments="{kostenstelle : kostenstelle, search:search, kst:kst}">{kostenstelle.bezeichnung}</f:link.action></td>
                            <td class="td{kostenstelle.uid} staffmmobilehidden"><f:link.action title="Tel.: {kostenstelle.verantwortlicher.telephone}" action="show" arguments="{kostenstelle : kostenstelle, search:search, kst:kst}">{kostenstelle.verantwortlicher.lastName} {kostenstelle.verantwortlicher.firstName}</f:link.action></td>
                            <td class="td{kostenstelle.uid}"><f:form.checkbox id="costcenterCheck{kostenstelle.uid}" name="costcenters" value="{kostenstelle.uid}" multiple="1" checked="0" additionalAttributes="{onClick: 'setCheckbox(this);'}" /></td>
                        </f:else>
                    </f:if>
                </tr>
            </f:for>
        </table><br />
        <div class="btn-group" role="group">
            <f:link.action class="btn btn-default" action="edit" controller="Mitarbeiter" arguments="{mitarbeiter:representation.employee, key:key, userKey:userKey}"><f:translate key="staffm.back" /></f:link.action>
            <f:form.submit class="btn btn-success" value="{f:translate(id:'staffm.choose')} {f:translate(id:'staffm.text.uebergeben')}" />
         </div>
    </f:form>
    <script>
        /**
         * Checkbox 
         * Set/unset checkboxes and enable/disable fields
         * 
         * @param string stat
         * @return void
         */
        function setCheckbox(stat) {
            var wholeid = stat.id;            
            var id = wholeid.substring(15);         
            var cb = document.getElementById(wholeid);
            var elem = document.getElementsByClassName("td" + id);           
            
            if (cb.checked === true) {
                cb.checked = true;                
                for (var i = 0; i < elem.length; i++) {
                    elem[i].style.backgroundColor = "#BCEE68";                    
                }               
            } else {
                cb.checked = false;
                for (var i = 0; i < elem.length; i++) {
                   
                    elem[i].style.backgroundColor = ""; 
                }               
            }
        }
    </script>
</f:section>