{namespace tv = Pmwebdesign\Staffm\ViewHelpers}

<f:layout name="Default" />
<f:section name="main">
    <f:variable name="admin" value="{tv:isAdmin()}" />
    <h1><f:translate id="staffm.kostenstelle.show.headline" /></h1>
    <f:flashMessages />
    <f:render partial="Kostenstelle/Properties" arguments="{kostenstelle:kostenstelle, search:search}" /><br />
    <div class="btn-group">
        <f:if condition="{key} == 'vonMit'">
            <f:then>        
                <f:link.action class="btn btn-default" controller="Mitarbeiter" action="show" arguments="{mitarbeiter:mitarbeiter, search:standardsearch, userKey:userKey}"><f:translate id="staffm.back" /> (<f:translate key="tx_staffm_domain_model_mitarbeiter" />)</f:link.action>
            </f:then>
            <f:else>
                <f:link.action section="kst{kostenstelle.uid}" class="btn btn-default" action="list" arguments="{maid: 'maid', search:search}"><f:translate id="staffm.back" /></f:link.action>
            </f:else>        
        </f:if>
        <f:link.action title="Die Liste in Excel ausgeben" id="excelExport" class="btn btn-default" action="export" arguments="{kostenstelle:kostenstelle}" name="excelExport" >
            <f:image class="tx_staffm icon" src="typo3conf/ext/staffm/Resources/Public/Icons/Excel.png" />
            Excel Export
        </f:link.action> 
    </div>
    <br /><br />
    <h3><f:translate id="staffm.text.zugeordnete" /> <f:translate key="tx_staffm_domain_model_mitarbeiter" /> (<f:count subject="{kostenstelle.mitarbeiters}" />)</h3>
    <table class="tx_staffm">    
        <tr>
            <th></th>
            <th class="staffmmobilehidden"><f:translate key="tx_staffm_domain_model_mitarbeiter.personalnummer" /></th>
            <th><f:translate key="tx_staffm_domain_model_mitarbeiter.last_name" /></th>
            <th><f:translate key="tx_staffm_domain_model_mitarbeiter.first_name" /></th>
            <th class="staffmmobilehidden"><f:translate key="tx_staffm_domain_model_mitarbeiter.title" /></th>
            <th class="staffmmobilehidden"><f:translate key="tx_staffm_domain_model_mitarbeiter.telephone" /></th>
            <th class="staffmmobilehidden"><f:translate key="tx_staffm_domain_model_mitarbeiter.employeequalifications" /></th>
            <f:if condition="{admin} == TRUE"><th class="staffmmobilehidden"></th></f:if>
        </tr>    
        <f:for each="{kostenstelle.mitarbeiters}" as="ma">            
            <tr id="ma{ma.uid}">
                    <td>
                        <f:if condition="{ma.image}">
                            <f:for each="{ma.image}" as="img" key="key" iteration="iterator">    
                                <f:if condition="{iterator.isFirst}">
                                    <f:link.action controller="Mitarbeiter" action="showKst" arguments="{ma : ma, kostenstelle:kostenstelle, key: 'auswahlKst', search:search}"><f:image class="tx_staffm profilbild klein" src="{img.uid}" treatIdAsReference="1" /></f:link.action>                                            
                                </f:if>
                            </f:for>
                        </f:if>                        
                    </td>
                    <td class="staffmmobilehidden"><f:link.action controller="Mitarbeiter" action="showKst" arguments="{ma : ma, kostenstelle:kostenstelle, key: 'auswahlKst', search:search}"> {ma.personalnummer}</f:link.action></td>
                    <td><f:link.action controller="Mitarbeiter" action="showKst" arguments="{ma : ma, kostenstelle:kostenstelle, key: 'auswahlKst', search:search}"> {ma.lastName}</f:link.action></td>
                    <td><f:link.action controller="Mitarbeiter" action="showKst" arguments="{ma : ma, kostenstelle:kostenstelle, key: 'auswahlKst', search:search}"> {ma.firstName}</f:link.action></td>
                    <td class="staffmmobilehidden"><f:link.action title="{ma.title}" controller="Mitarbeiter" action="showKst" arguments="{ma : ma, kostenstelle:kostenstelle, key: 'auswahlKst', search:search}"> {ma.title}</f:link.action></td>
                    <td class="staffmmobilehidden"><f:link.action controller="Mitarbeiter" action="showKst" arguments="{ma : ma, kostenstelle:kostenstelle, key: 'auswahlKst', search:search}"> {ma.telephone}</f:link.action></td>
                    <td class="staffmmobilehidden">     
                    <f:variable name="adminQS" value="{tv:isAdminQualificationStatus()}" />
                    <tv:widget.qualiStatus objects="{ma.employeequalifications}" as="filteredEmployeequalifications" property="check" admin="{adminQS}">
                        <f:variable name="adminQS" value="{tv:isAdminQualificationStatus()}" />
                        <f:for each="{filteredEmployeequalifications}" as="mitarbeiterqualifikation" iteration="iteration">
                            <f:if condition="{iteration.isFirst}">
                                <f:then>
                                    <p class="marksq" title="{mitarbeiterqualifikation.qualification.beschreibung}"><f:link.action controller="Mitarbeiter" action="showKst" arguments="{ma : ma, kostenstelle:kostenstelle, key: 'auswahlKst', search:search}"><span>{mitarbeiterqualifikation.qualification.bezeichnung}{f:if(condition:'{mitarbeiterqualifikation.showstatus} == TRUE || {adminQS} == TRUE', then:' ({mitarbeiterqualifikation.status})')}</span></f:link.action>
                                        <f:if condition="{ma.employeequalifications -> f:count()} > 1">
                                            <a class="btn btn-secondary btn-sm" style="float:right" href="javascript:void(0)" id="q{ma.uid}" onClick="getID(this);return false;"><span name="q{mitarbeiter.uid}glyphiconchange" id="q{ma.uid}" class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
                                                <f:if condition="{ma.employeequalifications -> f:count()} < 10">
                                                    0
                                                </f:if>
                                                {ma.employeequalifications -> f:count()}</a>
                                        </f:if>
                                    </p>
                                </f:then>
                                <f:else>
                                    <p class="marksq q{ma.uid}hidden" style="display:none" title="{mitarbeiterqualifikation.qualification.beschreibung}"><f:link.action controller="Mitarbeiter" action="showKst" arguments="{ma : ma, kostenstelle:kostenstelle, key: 'auswahlKst', search:search}">{mitarbeiterqualifikation.qualification.bezeichnung}{f:if(condition:'{mitarbeiterqualifikation.showstatus} == TRUE || {adminQS} == TRUE', then:' ({mitarbeiterqualifikation.status})')}</f:link.action></p>                                            
                                </f:else>
                            </f:if>                                            
                        </f:for>
                    </tv:widget.qualiStatus>
                    </td>
                    <f:if condition="{admin} == TRUE">
                        <f:then>
                            <td class="staffmmobilehidden">
                                <div class="btn-group" style="float: right">
                                    <f:link.action class="btn btn-secondary btn-sm" title="{ma.firstName} {ma.lastName} bearbeiten" controller="Mitarbeiter" action="editKst" arguments="{ma : ma, kostenstelle:kostenstelle, key: 'auswahlKst', kst: 'kst', search:search}"><f:translate id="staffm.edit" /></f:link.action>
                                    <f:link.action class="btn btn-danger btn-sm" controller="Mitarbeiter" action="delete" arguments="{mitarbeiter : ma}"><f:translate id="staffm.delete" /></f:link.action>
                                </div>
                            </td>
                        </f:then>
                        <f:else>
                            <f:if condition="{aktuser.position} != 0">
                                <!-- Check cost center responsible -->                                
                                <f:for each="{kostenstellen}" as="kst">                                    
                                    <f:if condition="{kst.uid} == {ma.kostenstelle.uid}">
                                        <td><f:link.action class="btn btn-sm btn-secondary" controller="Mitarbeiter" action="editKst" arguments="{ma : ma, kostenstelle:kostenstelle, key: 'auswahlKst', kst: 'kst', search:search}"><f:translate id="staffm.edit" /></f:link.action></td>
                                    </f:if>    
                                </f:for>
                            </f:if>
                        </f:else>
                    </f:if>
            </tr>
        </f:for>
    </table>
    <script>    
        function getID(stat) {
            // ID of clicked employee qualification
            //var objEvt;
            //var objEvt = (window.event)? window.event: objEvt;
            //var objSrc = (objEvt.target)? objEvt.target : objEvt.srcElement;        
            //var id = objSrc.id;      
            var id = stat.id;

            // Get classes of employee qualifications
            var list = document.getElementsByClassName(id + "hidden");
            // Hide or show
            for (var i = 0; i < list.length; i++) {
                /*(list[i].style.display == 'none') ? list[i].style.display = ''
                 : list[i].style.display = 'none';*/

                var elem = document.getElementsByName(id + 'glyphiconchange');
                if (list[i].style.display == 'none') {
                    list[i].style.display = '';
                    for (var ii = 0; ii < elem.length; ii++) {
                        elem[ii].setAttribute('class', 'glyphicon glyphicon-triangle-top');
                    }
                } else {
                    list[i].style.display = 'none';
                    //elem.setAttribute('class', 'glyphicon glyphicon-triangle-bottom');
                    for (var ii = 0; ii < elem.length; ii++) {
                        elem[ii].setAttribute('class', 'glyphicon glyphicon-triangle-bottom');
                    }
                }
            }
        }
    </script>
</f:section>