
<f:layout name="Default" />

This Template is responsible for displaying a single view for a domain object

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Show.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
<h1>Einzelansicht Mitarbeiter</h1>

<f:flashMessages />
<f:render partial="Mitarbeiter/Properties" arguments="{mitarbeiter:mitarbeiter, images:images}" /><br />
<f:if condition="{position}">
    <f:link.action class="btn btn-default" controller="Position" action="show" arguments="{position:position}">Zurück</f:link.action>
</f:if>
<f:if condition="{kostenstelle}">
    <f:link.action class="btn btn-default" section="ma{mitarbeiter.uid}" controller="Kostenstelle" action="show" arguments="{kostenstelle:kostenstelle}">Zurück</f:link.action>
</f:if>
<f:if condition="{firma}">
    <f:link.action class="btn btn-default" controller="Firma" action="show" arguments="{firma:firma}">Zurück</f:link.action>
</f:if>
<f:if condition="{qualifikation}">
    <f:link.action class="btn btn-default" controller="Qualifikation" action="show" arguments="{qualifikation:qualifikation}">Zurück</f:link.action>
</f:if>
<br />
</f:section>