
<table class="tx_staffm table-left" >
	<tr>
		<td>
			<f:translate key="tx_staffm_domain_model_qualifikation.bezeichnung" />
		</td>
		<td>
			{qualifikation.bezeichnung}
		</td>
	</tr>
        <tr>
                <td>
			<f:translate key="tx_staffm_domain_model_qualifikation.beschreibung" />
		</td>
		<td>
			{qualifikation.beschreibung}
		</td>
        </tr>
        <tr>
            <td>
                        <f:translate key="tx_staffm_domain_model_qualifikation.categories" />
            </td>
            <td>
                        <f:render partial="Qualifikation/Category/QualificationCategories" arguments="{qualification:qualifikation, label:'no'}" />
            </td>
        </tr>
        <tr>
                <td>
			<f:translate key="tx_staffm_domain_model_employeequalification.status" />
		</td>
		<td>     
                    <a class="btn btn-default btn-sm" onclick="showStatus();"><f:translate key="staffm.show" /></a><br />
                    <div id="showStatus" style="display:none">
                        <f:for each="{qualifikation.status}" as="status" key="index">                        
                            {index} {status}<br />
                        </f:for>
                    </div>
		</td>
        </tr>        
</table>
<br style="clear: both" />
<script>
    /**
     * Show all status
     * 
     * @return 
     */
    function showStatus() {
        var elem = document.getElementById("showStatus");       
        if (elem.style.display === 'none') {
            elem.style.display = '';   
        } else {
            elem.style.display = 'none';
        }       
    }
</script>