
<table class="tx_staffm table-left" >
	<tr>
		<td>
			<f:translate key="tx_staffm_domain_model_qualifikation.bezeichnung" />
		</td>
		<td>
			{qualifikation.bezeichnung}
		</td>
	</tr>
        <tr>
                <td>
			<f:translate key="tx_staffm_domain_model_qualifikation.beschreibung" />
		</td>
		<td>
			{qualifikation.beschreibung}
		</td>
        </tr>
        <tr>
                <td>
			<f:translate key="tx_staffm_domain_model_employeequalification.status" />
		</td>
		<td>                   
                    <f:for each="{qualifikation.status}" as="status" key="index">                        
                        {index} {status}<br />
                    </f:for>
		</td>
        </tr>
</table>
<br style="clear: both" />