{namespace tv = Pmwebdesign\Staffm\ViewHelpers}

<f:form action="update" controller="Mitarbeiter" arguments="{mitarbeiter:employee, key:key, userKey:userKey, standardsearch:standardsearch, cache: '{cache}'}" additionalAttributes="{role: 'form'}"> 
    <p><b><f:translate key="tx_staffm_domain_model_mitarbeiter" />:</b> {employee.lastName} {employee.firstName}</p> 
    <table  class="tx_staffm" >
        <tr>
            <th><f:translate key="tx_staffm_domain_model_category.name" /></th>
            <th><f:translate key="tx_staffm_domain_model_category.description" /></th>
            <th></th>
        </tr>
        <f:for each="{categories}" as="category">
            <tr>                              
                <f:if condition="{tv:categoryEmployee(c:category, ma: employee)} > 0">
                    <f:then>                       
                        <td class="td{category.uid}" style="background-color: #BCEE68">{category.name}</td> 
                        <td class="td{category.uid}" style="background-color: #BCEE68">{category.description}</td> 
                        <td class="td{category.uid}" style="background-color: #BCEE68"><f:form.checkbox id="categoryCheck{category.uid}" additionalAttributes="{onClick:'setCheckbox(this);'}" name="categories" value="{category.uid}" multiple="1" checked="1" /></td>                                                    
                    </f:then>
                    <f:else>
                        <td class="td{category.uid}">{category.name}</td>   
                        <td class="td{category.uid}">{category.description}</td>  
                        <td class="td{category.uid}"><f:form.checkbox id="categoryCheck{category.uid}" additionalAttributes="{onClick:'setCheckbox(this);'}" name="categories" value="{category.uid}" multiple="1" checked="0" /></td>                                                    
                    </f:else>
                </f:if>          
            </tr>
        </f:for>
    </table>
    <br />
    <div class="btn-group" role="group">
        <f:link.action class="btn btn-secondary" action="edit" controller="Mitarbeiter" arguments="{mitarbeiter:employee, berechtigung:berechtigung}"><f:translate id="staffm.back" /></f:link.action>
        <button class="btn btn-success" type="submit"><f:translate id="staffm.choose" /> <f:translate id="staffm.text.uebergeben" /></button>
    </div><br />
</f:form>
<script>
/**
     * Checkbox 
     * Set/unset checkboxes and enable/disable fields
     * 
     * @param string stat
     * @return void
     */
    function setCheckbox(stat) {
        var wholeid = stat.id;
        var id = wholeid.substring(13);            
        var cb = document.getElementById(wholeid);
        var elem = document.getElementsByClassName("td" + id);
        var elemSelect = document.getElementById("categorySelect" + id);

        if (cb.checked === true) {
            cb.checked = true;
            for (var i = 0; i < elem.length; i++) {
                elem[i].style.backgroundColor = "#BCEE68";
            }
            elemSelect.disabled = false;
            elemSelect.value = 1;               
        } else {
            cb.checked = false;
            for (var i = 0; i < elem.length; i++) {

                elem[i].style.backgroundColor = "";
            }
            elemSelect.disabled = true;
            elemSelect.value = "";              
        }
    }
</script>
