
<f:layout name="Default" />

<f:section name="main">
    <h1><f:translate id="staffm.qualifikation.edit.headline" /></h1>

    <f:flashMessages />

    <f:render partial="FormErrors" />

    <f:form action="update" name="qualifikation" object="{qualifikation}" arguments="{key:key, maid:'maid'}" >
        <f:render partial="Qualifikation/FormFields" arguments="{qualifikation:qualifikation}" />
        <div class="btn-group" role="group" aria-label="Qualifikation bearbeiten">        
            <f:link.action section="q{qualifikation.uid}" class="btn btn-secondary" action="list" arguments="{maid: 'maid', search:search}"><f:translate id="staffm.back" /></f:link.action>     
            <f:form.submit class="btn btn-success" value="{f:translate(id:'staffm.save')}" />
        </div>
    </f:form>
</f:section>