{namespace tv = Pmwebdesign\Staffm\ViewHelpers}

<f:layout name="Default" />
<f:section name="main">
    <h1><f:translate id="staffm.qualifikation.list.headline" /></h1>
    <f:flashMessages />
    <f:if condition="{key} == ''"> 
        <f:comment><!-- Normal qualification list --></f:comment>
        <f:render partial="Qualifikation/List/List" arguments="{_all}" />            
    </f:if>
    <f:if condition="{key} == 'auswahl'">
        <f:comment><!-- Qualification selection for the employee --></f:comment>
        <f:render partial="Qualifikation/List/QualificationsForEmployee" arguments="{_all}" />        
    </f:if>      
    <f:if condition="{key} == 'chooseQualiForCategory'">
        <f:comment><!-- Qualification selection for a category --></f:comment>
        <f:render partial="Qualifikation/List/QualificationsForCategory" arguments="{_all}" />        
    </f:if>  
    <script>
        /**
         * Show Date picker
         * 
         * @param {type} stat
         * @returns {undefined}
         */
        function datepicker(stat) {
            var wholeid = stat.id;
            // Button with icon for Datepicker
            $("#" + wholeid).datepicker({
                changeMonth: true,
                changeYear: true,
                showOn: "button",
                buttonImage: "typo3conf/ext/Staffm/Resources/Public/Icons/calendar.gif",
                buttonImageOnly: true,
                buttonText: "Select date"
            });
            $("#" + wholeid).on("change", function () {
                $("#" + wholeid).datepicker("option", "dateFormat", "yy-mm-dd");
                $("#" + wholeid).datepicker("option", "showAnim", "slide");
            });
        }

        /**
         * Delete the Date
         * 
         * @param {type} stat
         * @returns {undefined}
         */
        function delteReminderDate(stat) {
            var wholeid = stat.id;
            var id = wholeid.substring(23);
            var elemReminderDate = document.getElementById("qualiReminderDate" + id);
            elemReminderDate.value = "";
        }

        /**
         * Show assigned Employees of the qualification
         * 
         * @param {type} stat
         * @returns {undefined}
         */
        function getID(stat) {
            var id = stat.id;

            // Class of the employeequalifications
            var list = document.getElementsByClassName(id + "hidden");
            // Aus- oder einblenden
            for (var i = 0; i < list.length; i++) {
                /*(list[i].style.display == 'none') ? list[i].style.display = ''
                 : list[i].style.display = 'none';*/

                var elem = document.getElementsByName(id + 'glyphiconchange');
                if (list[i].style.display == 'none') {
                    list[i].style.display = '';
                    for (var ii = 0; ii < elem.length; ii++) {
                        elem[ii].setAttribute('class', 'glyphicon glyphicon-triangle-top');
                    }
                } else {
                    list[i].style.display = 'none';
                    //elem.setAttribute('class', 'glyphicon glyphicon-triangle-bottom');
                    for (var ii = 0; ii < elem.length; ii++) {
                        elem[ii].setAttribute('class', 'glyphicon glyphicon-triangle-bottom');
                    }

                }
            }

        }
        /**
         * Checkbox 
         * Set/unset checkboxes and enable/disable fields
         * 
         * @param string stat
         * @return void
         */
        function setCheckbox(stat) {
            var wholeid = stat.id;
            var id = wholeid.substring(10);
            var cb = document.getElementById(wholeid);
            var elem = document.getElementsByClassName("td" + id);
            var elemSelect = document.getElementById("qualiSelect" + id);
            var elemText = document.getElementById("qualiText" + id);
            var elemReminderDate = document.getElementById("qualiReminderDate" + id);

            if (cb.checked === true) {
                cb.checked = true;
                for (var i = 0; i < elem.length; i++) {
                    elem[i].style.backgroundColor = "#BCEE68";
                }
                elemSelect.disabled = false;
                elemSelect.value = 1;
                elemText.disabled = false;
                elemReminderDate.disabled = false;
            } else {
                cb.checked = false;
                for (var i = 0; i < elem.length; i++) {

                    elem[i].style.backgroundColor = "";
                }
                elemSelect.disabled = true;
                elemSelect.value = "";
                elemText.disabled = true;
                elemText.value = "";
                elemReminderDate.disabled = true;
                elemReminderDate.value = "";
            }
        }
    </script>
</f:section>