{namespace tv = Pmwebdesign\Staffm\ViewHelpers}

<f:layout name="Default" />
<f:section name="main">
    <h1><f:translate id="staffm.qualifikation.show.headline" /></h1>
    <f:flashMessages />
    <f:render partial="Qualifikation/Properties" arguments="{qualifikation:qualifikation}" />
    <div class="btn-group">
        <f:if condition="{key} == 'vonMit'">
            <f:then>        
                <f:link.action class="btn btn-default" controller="Mitarbeiter" action="show" arguments="{mitarbeiter:mitarbeiter, search:standardsearch}"><f:translate id="staffm.back" /> (<f:translate key="tx_staffm_domain_model_mitarbeiter" />)</f:link.action>
            </f:then>
            <f:else>
                <f:link.action section="q{qualifikation.uid}" class="btn btn-default" action="list" arguments="{maid: 'maid', search:search}"><f:translate id="staffm.back" /></f:link.action>
            </f:else>        
        </f:if>
        <f:link.action title="Die Liste in Excel ausgeben" id="excelExport" class="btn btn-default" action="export" arguments="{qualifikation:qualifikation}" name="excelExport" >
            <f:image class="tx_staffm icon" src="typo3conf/ext/staffm/Resources/Public/Icons/Excel.png" />
            Excel Export
        </f:link.action> 
    </div>
    <br /><br />
    <f:render partial="Qualifikation/Mitarbeiter/EmployeeQualifications" arguments="{qualifikation:qualifikation, edit:'no'}" />
</f:section>