{namespace vh=Pmwebdesign\Staffm\ViewHelpers}

<label class="tx-staffm bold">Profil-Bild</label><br />
<vh:form.multiupload property="image" resources="resources">
    <ul style="list-style:none;padding:0">
        <f:for each="{resources}" as="resource">
            <li>
                <label>
                    <vh:form.multiupload.delete property="image" value="{resource}" />
                    <f:image image="{resource}" alt="" width="250" height="auto" />
                </label>
            </li>
        </f:for>
    </ul>
</vh:form.multiupload>   
<br style="clear:both"/>
<f:comment><!-- Representations --></f:comment>
<f:if condition="{vh:isCostCenterResponsible(employee:mitarbeiter, withDeputy: 0)} > 0">
    <f:render partial="Mitarbeiter/Representation/FormFields" arguments="{representations: mitarbeiter.representations}" />
    <div class="btn-group" role="group">
        <f:link.action action="list" arguments="{mitarbeiter:mitarbeiter, key:'chooseDeputyForEmployee', userKey:'auswahlUsr', cache:'notcache'}" class="btn btn-default"><f:translate id="staffm.choose" /></f:link.action>
        <f:if condition="{mitarbeiter.representations}">
            <f:link.action class="btn btn-danger" action="deleteRepresentations" arguments="{employee:mitarbeiter, userKey:'auswahlUsr'}"><f:translate id="staffm.remove" /></f:link.action>
        </f:if>
    </div>
    <br /><br />
</f:if>
<f:comment><!-- Assigned Representations --></f:comment>
<f:if condition="{mitarbeiter.assignedRepresentations}">
    <f:render partial="Mitarbeiter/AssignedRepresentation/FormFields" arguments="{representations: mitarbeiter.assignedRepresentations}" /><br />    
</f:if>
<label class="tx-staffm bold" for="personalnummer">
	<f:translate key="tx_staffm_domain_model_mitarbeiter.personalnummer" />
</label>
	<f:form.textfield class="form-control" style="max-width:300px" property="personalnummer" disabled="True" /><br />        
<label class="tx-staffm bold" for="username">
	<f:translate key="tx_staffm_domain_model_mitarbeiter.username" />
</label>
	<f:form.textfield class="form-control" style="max-width:300px" title="AD-Name von IT" property="username" disabled="True" /><br />
<label class="tx-staffm bold" for="dateOfBirthShow">
	<f:translate key="tx_staffm_domain_model_mitarbeiter.date_of_birth_show" />        
</label>     
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <f:form.radio title="Geburtsdatum im Intranet anzeigen" property="dateOfBirthShow" value="1" />&nbsp;Ja
                </div>
            </div>
            <div class="input-group-append">
                <div class="input-group-text">
                    <f:form.radio title="Geburtsdatum nicht im Intranet anzeigen" property="dateOfBirthShow" value="0" />&nbsp;Nein
                </div>
            </div>            
        </div><br />
<label class="tx-staffm bold" for="dateOfBirth">
	<f:translate key="tx_staffm_domain_model_mitarbeiter.date_of_birth" />        
</label>  
        <f:if condition="{mitarbeiter.dateOfBirthShow} == 1">
            <f:then>
                <f:if condition="{mitarbeiter.dateOfBirth}">
                    <f:then>
                        <f:form.textfield class="form-control" style="max-width:300px" id="dateb" value="{f:format.date(date: mitarbeiter.dateOfBirth, format: 'd.m.Y')}" title="Format: TT.MM.JJJJ" disabled="True" /><f:form.hidden id="dateInteger" property="dateOfBirth" /><br />
                    </f:then>
                    <f:else>
                        <f:form.textfield class="form-control" style="max-width:300px" id="dateb" value="{f:format.date(date: mitarbeiter.dateOfBirth, format: 'd.m.Y')}" title="Format: TT.MM.JJJJ" /><f:form.hidden id="dateInteger" property="dateOfBirth" /><br />        
                    </f:else>
                </f:if>
            </f:then>
            <f:else>
                <p><f:translate id="staffm.text.geburtsdatumausgabe" /></p><f:form.hidden id="dateInteger" property="dateOfBirth" />
            </f:else>
        </f:if>
<label class="tx-staffm bold" for="lastName">
	<f:translate key="tx_staffm_domain_model_mitarbeiter.last_name" />
</label>
	<f:form.textfield class="form-control" style="max-width:300px" property="lastName" disabled="True" /><br />
<label class="tx-staffm bold" for="firstName">
	<f:translate key="tx_staffm_domain_model_mitarbeiter.first_name" />
</label>
	<f:form.textfield class="form-control" style="max-width:300px" property="firstName" disabled="True" /><br />
<label class="tx-staffm bold" for="telephone">
	<f:translate key="tx_staffm_domain_model_mitarbeiter.telephone" />
</label>
	<f:form.textfield class="form-control" style="max-width:300px" property="telephone" disabled="True" /><br />
<label class="tx-staffm bold" for="fax">
	<f:translate key="tx_staffm_domain_model_mitarbeiter.fax" />
</label>
	<f:form.textfield class="form-control" style="max-width:300px" property="fax" disabled="True" /><br />
<label class="tx-staffm bold" for="handy">
	<f:translate key="tx_staffm_domain_model_mitarbeiter.handy" />
</label>
	<f:form.textfield class="form-control" style="max-width:300px" property="handy" /><br />
<label class="tx-staffm bold" for="email">
	<f:translate key="tx_staffm_domain_model_mitarbeiter.email" />
</label>
	<f:form.textfield type="email" class="form-control" style="max-width:300px" property="email" disabled="True" /><br />
<label class="tx-staffm bold" for="title">
	<f:translate key="tx_staffm_domain_model_mitarbeiter.title" />
</label>
	<f:form.textfield class="form-control" style="max-width:300px" property="title" disabled="True" /><br />
<f:if condition="{mitarbeiter}">
    <label class="tx-staffm bold" for="kostenstelle">
            <f:translate key="tx_staffm_domain_model_mitarbeiter.kostenstelle" />
    </label>       
            <f:form.hidden property="kostenstelle" />
            <f:form.textfield class="form-control" style="max-width:300px" value="{mitarbeiter.kostenstelle.nummer} {mitarbeiter.kostenstelle.bezeichnung}" disabled="disabled" />            
            <br />
    <label class="tx-staffm bold" for="position">
            <f:translate key="tx_staffm_domain_model_mitarbeiter.position" />
    </label>
            <f:form.hidden property="position" />
            <f:form.textfield class="form-control" style="max-width:300px" disabled="disabled" value="{mitarbeiter.position.bezeichnung}" />            
            <br />
    <label class="tx-staffm bold" for="firma">
            <f:translate key="tx_staffm_domain_model_mitarbeiter.firma" />
    </label>
            <f:form.hidden property="firma" />
            <f:form.textfield class="form-control" style="max-width:300px" disabled="disabled" value="{mitarbeiter.firma.bezeichnung}" />            
            <br />
    <label class="tx-staffm bold" for="categories">
        <f:translate key="tx_staffm_domain_model_mitarbeiter.categories" />
    </label><br />            
    <f:for each="{mitarbeiter.categories}" as="category" iteration="iterator">
        <f:if condition="{iterator.isLast}">
            <f:then>
                {category.name}
            </f:then>
            <f:else>
                {category.name},
            </f:else>
        </f:if>
    </f:for><br />
    <div class="btn-group" role="group">
        <f:link.action class="btn btn-default" action="list" controller="Category" arguments="{employee:mitarbeiter, key:'chooseCategoryForEmployee', standardsearch:search, cache:'notcache', userKey:'auswahlVgs'}"><f:translate id="staffm.choose" /></f:link.action>
        <f:if condition="{mitarbeiter.categories}">
            <f:link.action class="btn btn-danger" action="deleteCategories" arguments="{employee:mitarbeiter}"><f:translate id="staffm.remove" /></f:link.action>
        </f:if>
    </div>
    <br /><br />
    <f:comment><!-- Qualifications --></f:comment>
    <f:render partial="Mitarbeiter/Qualification/ListFormFields" arguments="{mitarbeiter:mitarbeiter, key:key, standardsearch:search, userKey:'auswahlVgs'}" />
    <br />
</f:if>
