<f:if condition="{mitarbeiter.image}">
    <p class="tx-staffm bold">Profilbild:</p>
    <div id="carouselExampleControls" class="carousel slide carouseldetailview" data-ride="carousel" style="max-width: 35%">
        <div class="carousel-inner carouseldetailviewinner">
            <f:for each="{mitarbeiter.image}" as="img" iteration="iterator">        
                <f:if condition="{iterator.isFirst}">
                    <f:then>
                        <div class="carousel-item active">
                            <a class="sd-lightbox lightboxRelAttribute = sd-lightbox[2] lightboxEnabled = 1" href="{f:uri.image(src:'{img.uid}', treatIdAsReference: 1, cropVariant: 'desktop')}" rel="lightbox[2]">
                                <f:image src="{img.uid}" alt="" style="width:auto;max-width:100%;height: auto;max-height: 300px" treatIdAsReference="1" />     
                            </a>
                        </div>
                    </f:then>
                    <f:else>
                        <div class="carousel-item" stlye="text-align:center">
                            <a class="sd-lightbox lightboxRelAttribute = sd-lightbox[2] lightboxEnabled = 1" href="{f:uri.image(src:'{img.uid}', treatIdAsReference: 1, cropVariant: 'desktop')}" rel="lightbox[2]">
                                <f:image src="{img.uid}" alt="" style="width:auto;max-width:100%;height: auto;max-height: 300px" treatIdAsReference="1" />     
                            </a>
                        </div>
                    </f:else>
                </f:if>
            </f:for>        
        </div>
        <f:if condition="{mitarbeiter.image -> f:count()} > 1">
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </f:if>
    </div>
</f:if><br />
<table class="tx_staffm table-left" >
	<tr>
		<td>
			<f:translate key="tx_staffm_domain_model_mitarbeiter.personalnummer" />
		</td>
		<td>
			{mitarbeiter.personalnummer}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_staffm_domain_model_mitarbeiter.username" />
		</td>
		<td>
			{mitarbeiter.username}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_staffm_domain_model_mitarbeiter.date_of_birth" />
		</td>
                <td>
                    <f:if condition="{mitarbeiter.dateOfBirthShow}!=0">
                            {f:format.date(date: mitarbeiter.dateOfBirth, format: 'd.m.Y')}
                    </f:if>	
                </td>   
	</tr>
	<tr>
		<td>
			<f:translate key="tx_staffm_domain_model_mitarbeiter.last_name" />
		</td>
		<td>
			{mitarbeiter.lastName}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_staffm_domain_model_mitarbeiter.first_name" />
		</td>
		<td>
			{mitarbeiter.firstName}
		</td>
	</tr>
        <tr>
		<td>
			<f:translate key="tx_staffm_domain_model_mitarbeiter.position" />
		</td>
		<td>			
                    <f:link.action class="tx_staffm link" action="show" controller="Position" arguments="{mitarbeiter:mitarbeiter, key: 'vonMit', userKey: userKey, standardsearch:search}">
			{mitarbeiter.position.bezeichnung}
                    </f:link.action>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_staffm_domain_model_mitarbeiter.telephone" />
		</td>
		<td>
			{mitarbeiter.telephone}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_staffm_domain_model_mitarbeiter.handy" />
		</td>
		<td>
			{mitarbeiter.handy}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_staffm_domain_model_mitarbeiter.email" />
		</td>
		<td>
			<f:link.email title="Email schreiben" class="tx_staffm link" email="{mitarbeiter.email}" />
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_staffm_domain_model_mitarbeiter.title" />
		</td>
		<td>
			{mitarbeiter.title}
		</td>
	</tr>
        <tr>
		<td>
			<f:translate key="tx_staffm_domain_model_mitarbeiter.kostenstelle" />
		</td>
		<td>
                    <f:link.action class="tx_staffm link" action="show" controller="Kostenstelle" arguments="{kostenstelle:mitarbeiter.kostenstelle,mitarbeiter:mitarbeiter, key: 'vonMit', userKey: userKey, standardsearch:search}">
			{mitarbeiter.kostenstelle.nummer} {mitarbeiter.kostenstelle.bezeichnung}
                    </f:link.action>
		</td>
	</tr>
        <tr>
		<td>
			<f:translate key="tx_staffm_domain_model_mitarbeiter.firma" />
		</td>
		<td>                    
                    <f:link.action class="tx_staffm link" action="show" controller="Firma" arguments="{firma:mitarbeiter.firma, mitarbeiter:mitarbeiter, key: 'vonMit', userKey: userKey, standardsearch:search, uid: mitarbeiter.firma.uid}">
			{mitarbeiter.firma.bezeichnung}
                    </f:link.action>
		</td>
	</tr>
        <tr>
		<td>
			<f:translate key="tx_staffm_domain_model_mitarbeiter.categories" />
		</td>
		<td>                    
                    <f:for each="{mitarbeiter.categories}" as="category" iteration="iterator">
                        <f:link.action title="{category.description}" class="tx_staffm link" action="show" controller="Category" arguments="{employee:mitarbeiter, key: 'vonMit', userKey: userKey, standardsearch:search, category:category.uid}">
                            <f:if condition="{iterator.isLast}">
                                <f:then>
                                    {category.name}
                                </f:then>
                                <f:else>
                                    {category.name},
                                </f:else>
                            </f:if>
                        </f:link.action>
                    </f:for>                    
		</td>
	</tr>    
</table>
<br />
<f:render partial="Mitarbeiter/Qualification/ListProperties" arguments="{mitarbeiter:mitarbeiter, edit:'no', key:'vonMit', userKey: userKey, aktuser: aktuser}" />