
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
<h1>Listing for Software</h1>

<f:flashMessages />

<table  class="tx_staffm" >
	<tr>
		<th><f:translate key="tx_staffm_domain_model_software.bezeichnung" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{softwares}" as="software">
		<tr>
			<td><f:link.action action="show" arguments="{software : software}"> {software.bezeichnung}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{software : software}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{software : software}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Software</f:link.action>
</f:section>