{namespace vh=Pmwebdesign\Staffm\ViewHelpers}

<f:variable name="user" value="{vh:finduser()}" />

<label class="tx-staffm bold" for="representations">
    <f:translate key="tx_staffm_domain_model_mitarbeiter.representations" />
</label><br />
<f:alias map="{superiorWithoutDeputy: '{vh:isCostCenterResponsible(employee:user, withDeputy: 0)}'}">  
    <div class="row">
        <f:for each="{representations}" as="representation">
            <div class="p-1 col-sm-12 col-lg-6" style="border:0.5px solid #888;border-radius: 5px">
                <span>{representation.deputy.lastName} {representation.deputy.firstName}</span>
                <div class="custom-control custom-checkbox">
                    <f:form.checkbox class="custom-control-input" id="customControlValidation1{representation.deputy.uid}" onclick="setDeputyActiveStatus(this);false" name="employeesActive[{representation.deputy.uid}]" additionalAttributes="{type:'checkbox'}" value="{representation.uid}" checked="{f:if(condition: '{representation.statusActive} == 1', then: 1)}" />
                    <label class="custom-control-label" for="customControlValidation1{representation.deputy.uid}"><f:translate key="tx_staffm_domain_model_representation.status_active" /></label>
                </div>
                <f:comment><!-- Cost center responsible? --></f:comment>
                <f:if condition="{superiorWithoutDeputy} > 0">
                    <f:comment><!-- Qualification Authorization --></f:comment>
                    <div class="custom-control custom-checkbox">
                        <f:form.checkbox class="custom-control-input" id="customControlValidation2{representation.deputy.uid}" onclick="setQualificationAuthorizationStatus(this);false" name="employeesQualiAuth[{representation.deputy.uid}]" value="{representation.uid}" checked="{f:if(condition: '{representation.qualificationAuthorization} == 1', then: 1)}" />
                        <label class="custom-control-label" style="font-weight: normal" for="customControlValidation2{representation.deputy.uid}">                    
                            <f:translate key="tx_staffm_domain_model_representation.qualification_authorization" /><br />
                            <f:if condition="{superiorWithoutDeputy} > 1">
                                <f:translate key="tx_staffm_domain_model_representation.costcenters" />:
                                <f:if condition="{representation.costcenters}">                    
                                    <f:for each="{representation.costcenters}" as="costcenter" iteration="iterator">  
                                        <span title="{costcenter.bezeichnung}">
                                            <f:if condition="{iterator.isLast}">
                                                <f:then>
                                                    {costcenter.nummer}
                                                </f:then>
                                                <f:else>
                                                    {costcenter.nummer},
                                                </f:else>
                                            </f:if>
                                        </span>
                                    </f:for>
                                </f:if>
                                <br />
                                <div class="btn-group">
                                    <f:link.action action="listChoose" controller="Kostenstelle" arguments="{representation:representation, key:key, userKey:userKey, art:art}" class="btn btn-sm btn-default"><f:translate key="tx_staffm_domain_model_kostenstelle" />&nbsp;<f:translate key="staffm.choose" /></f:link.action>
                                    <f:if condition="{representation.costcenters -> f:count()} > 0">
                                        <f:link.action action="deleteRepresentationCostCenters" class="btn btn-sm btn-danger" arguments="{representation:representation, key:key, userKey:userKey, art:art}"><f:translate key="tx_staffm_domain_model_kostenstelle" />&nbsp;<f:translate key="staffm.delete" /></f:link.action>
                                    </f:if>  
                                </div>
                            </f:if>
                        </label><br/>
                        <f:translate key="tx_forms_represetation.selected.employees" extensionName="Forms"/>:&nbsp;
                        <f:if condition="{f:count(subject: '{representation.selectedEmployees}')} > 0">
                            <f:then>
                                <f:count subject="{representation.selectedEmployees}"/>
                            </f:then>
                            <f:else>
                                <f:translate key="tx_forms_represetation.all" extensionName="Forms"/>
                            </f:else>
                        </f:if>
                        <f:translate key="tx_forms_domain_model_changeform.employee" extensionName="Forms"/><br/>
                        <f:link.action class="btn btn-secondary btn-sm" action="listChooseEmployee" controller="Mitarbeiter" arguments="{representation:representation}"><f:translate key="staffm.choose"/>&nbsp;<f:translate key="tx_staffm_domain_model_mitarbeiter"/></f:link.action>
                    </div>  
                </f:if>
            </div>
        </f:for>
    </div>
</f:alias>
<script src="../../../../Public/js/staffm.js"></script>