<label class="tx-staffm bold" for="representations">
    <f:translate key="tx_staffm_domain_model_mitarbeiter.representations" />&nbsp;(<f:translate key="tx_staffm_domain_model_representation.costcenters" />)
</label><br />
<f:for each="{representations}" as="representation">
    <span>{representation.deputy.lastName} {representation.deputy.firstName}</span>
    <f:if condition="{representation.costcenters}">
        (
        <f:for each="{representation.costcenters}" as="costcenter" iteration="iterator">  
            <span title="{costcenter.bezeichnung}">
                <f:if condition="{iterator.isLast}">
                    <f:then>
                        {costcenter.nummer}
                    </f:then>
                    <f:else>
                        {costcenter.nummer},
                    </f:else>
                </f:if>
            </span>
        </f:for>
        ) 
    </f:if>
    <div class="btn-group">
        <f:link.action action="listChoose" controller="Kostenstelle" arguments="{representation:representation, key:key, userKey:userKey, art:art}" class="btn btn-sm btn-default"><f:translate key="tx_staffm_domain_model_kostenstelle" />&nbsp;<f:translate key="staffm.choose" /></f:link.action>
        <f:if condition="{representation.costcenters}">
            <f:link.action action="deleteRepresentationCostCenters" class="btn btn-sm btn-danger" arguments="{representation:representation, key:key, userKey:userKey, art:art}"><f:translate key="tx_staffm_domain_model_kostenstelle" />&nbsp;<f:translate key="staffm.delete" /></f:link.action>
        </f:if>
    </div>
    <br /><br />
</f:for>