
<div id="ladedivall" class="tx-staffm">  
        <div id="seite"></div>    
        <f:flashMessages />
        <nav class="navbar navbar-expand-sm navbar-light bg-light">
            <f:link.action class="btn btn-default left mr-1" action="list" controller="Mitarbeiter"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Mitarbeiter</f:link.action>        
            <f:link.action class="btn btn-default left mr-1" action="list" controller="Qualifikation"><span class="glyphicon glyphicon-education" aria-hidden="true"></span> Qualifikationen</f:link.action>
            <f:link.action class="btn btn-default left mr-1" action="list" controller="Kostenstelle"><span class="glyphicon glyphicon-indent-right" aria-hidden="true"></span> Kostenstellen</f:link.action>
            <f:link.action class="btn btn-default left mr-1" action="list" controller="Firma"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Firma</f:link.action>
            <f:link.action class="btn btn-default left" action="list" controller="Position" title="z. B. Geschäftsführer, Leiter"><span class="glyphicon glyphicon-stats" aria-hidden="true"></span> Positionen</f:link.action>
            <f:comment><f:link.action class="btn btn-default" action="list" controller="Standort"><span class="glyphicon glyphicon-education" aria-hidden="true"></span> Standort</f:link.action></f:comment>                        
        </nav>
        <div style="float:right;display:block;box-sizing:border-box;background-color:white;"><img style="display:block;margin-left:auto;margin-right:auto;max-height: 10px" src="typo3conf/ext/staffm/Resources/Public/Icons/loading-frame.gif" id="ladebild" /></div>        
        <div id="ladediv" style="display:block;"></div><br /><br />       
	<f:render section="main" />          
</div><br />
<p style="text-align: right">&COPY; 2016 Markus Puffer</p>
<script>    
    window.onload = function() {
        document.getElementById("ladebild").setAttribute("style", "display:none;");
        //document.getElementById("ladediv").setAttribute("style", "width:100%;");
    }
    // Solange bis die die Seite vollständig geladen ist
    window.onbeforeunload = function() {
        document.getElementById("ladebild").setAttribute("style", "display:block;margin-left:auto;margin-right:auto;");
        //document.getElementById("ladediv").setAttribute("style", "display:none;");
        document.getElementById("ladedivall").setAttribute("style", "cursor:wait;");        
    }
    // Wenn Seite vollständig geladen
    $(document).ready(function() {  
        /* Excelexport Button
         * Ladebilder nicht setzten, da sie sonst dauernd laufen
         */
        $( "#excelExport" ).click(function(){             
            window.onbeforeunload = null;
            document.getElementById("ladebild").setAttribute("style", "display:none;margin-left:auto;margin-right:auto;");
            //document.getElementById("ladediv").setAttribute("style", "display:block;");
            document.getElementById("ladedivall").setAttribute("style", "cursor:normal;"); 
        });           
    });
</script>
