
<f:layout name="Default" />
<f:section name="main">
    <h1><f:translate id="staffm.mitarbeiter.edit.headline" /></h1>

    <f:flashMessages />

    <f:render partial="FormErrors" />

    <f:form enctype="multipart/form-data" action="update" name="mitarbeiter" arguments="{mitarbeiter:mitarbeiter, kst:kst, key:key, search:search, berechtigung:'vonVorg'}" object="{mitarbeiter}" >
        <f:render partial="Mitarbeiter/FormFieldsVorg" arguments="{mitarbeiter:mitarbeiter, kst:kst, key:key, aktuser:aktuser, berechtigung:'vonVorg'}" /><br />  
        <div class="btn-group">
            <f:if condition="{position}">
                <f:link.action class="btn btn-default" controller="Position" action="show" arguments="{position:position}"><f:translate id="staffm.back" /></f:link.action>
            </f:if>
            <f:if condition="{kostenstelle}">
                <f:link.action section="ma{mitarbeiter.uid}" class="btn btn-default" controller="Kostenstelle" action="show" arguments="{kostenstelle:kostenstelle, search:search}">Zurück</f:link.action>
            </f:if>
            <f:if condition="{firma}">
                <f:link.action class="btn btn-default" controller="Firma" action="show" arguments="{firma:firma}"><f:translate id="staffm.back" /></f:link.action>
            </f:if>
            <f:if condition="{qualifikation}">
                <f:link.action section="ma{mitarbeiter.uid}" class="btn btn-default" controller="Qualifikation" action="show" arguments="{qualifikation:qualifikation, search:search}"><f:translate id="staffm.back" /></f:link.action>
            </f:if>
            <f:form.submit class="btn btn-success" onclick="setDates()" value="{f:translate(id:'staffm.save')}" />
        </div>
    </f:form>
     <f:comment><!-- Just load Javascript in this content Javascript for date change to unix-stamp --></f:comment>  
    <script type="text/javascript" src="/typo3conf/ext/staffm/Resources/Public/js/staffm.js"></script>
</f:section>


