
<f:layout name="Default" />

This template displays a EDIT form for the current domain object.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Edit.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1><f:translate id="staffm.mitarbeiter.edit.headline" /></h1>

<f:flashMessages />

<f:render partial="FormErrors" />

<f:form action="update" name="mitarbeiter" arguments="{mitarbeiter:mitarbeiter, kst:kst, search:search, berechtigung:'vonVorg'}" object="{mitarbeiter}" >
    <f:render partial="Mitarbeiter/FormFieldsVorg" arguments="{mitarbeiter:mitarbeiter, images:images, kst:kst, berechtigung:'vonVorg'}" /><br />  
    <div class="btn-group">
        <f:if condition="{position}">
            <f:link.action class="btn btn-default" controller="Position" action="show" arguments="{position:position}"><f:translate id="staffm.back" /></f:link.action>
        </f:if>
        <f:if condition="{kostenstelle}">
            <f:link.action section="ma{mitarbeiter.uid}" class="btn btn-default" controller="Kostenstelle" action="show" arguments="{kostenstelle:kostenstelle, search:search}">Zurück</f:link.action>
        </f:if>
        <f:if condition="{firma}">
            <f:link.action class="btn btn-default" controller="Firma" action="show" arguments="{firma:firma}"><f:translate id="staffm.back" /></f:link.action>
        </f:if>
        <f:if condition="{standort}">
            <f:link.action class="btn btn-default" controller="Standort" action="show" arguments="{standort:standort}"><f:translate id="staffm.back" /></f:link.action>
        </f:if>
        <f:if condition="{qualifikation}">
            <f:link.action section="ma{mitarbeiter.uid}" class="btn btn-default" controller="Qualifikation" action="show" arguments="{qualifikation:qualifikation, search:search}"><f:translate id="staffm.back" /></f:link.action>
        </f:if>
        <f:form.submit class="btn btn-success" onclick="setDates()" value="{f:translate(id:'staffm.save')}" />
    </div>
</f:form>

</f:section>


