{namespace tv = Pmwebdesign\Staffm\ViewHelpers}
{namespace vhs = FluidTYPO3\Vhs\ViewHelpers}

<f:layout name="Default" />
<f:section name="main">
    <h1><f:translate id="staffm.mitarbeiter.list.headline" /></h1>
    <f:flashMessages />
    <f:if condition="{key} == '' || {key} == 'suche' || {key} == 'vonMit'">
        <f:render partial="Mitarbeiter/List/List" arguments="{_all}" />
    </f:if>
    <f:if condition="{key} == 'chooseEmployeeForCategory'">
        <f:render partial="Mitarbeiter/List/EmployeeForCategory" arguments="{_all}" />
    </f:if>
    <f:if condition="{key} == 'chooseDeputyForEmployee'">
        <f:render partial="Mitarbeiter/List/DeputyForEmployee" arguments="{_all}" />
    </f:if>
</f:section>