{namespace tv = Pmwebdesign\Staffm\ViewHelpers}
<f:layout name="Default" />

<f:section name="main">
    <f:form action="update" controller="Qualifikation" arguments="{qualifikation:qualifikation, key:key, berechtigung:berechtigung}" additionalAttributes="{role: 'form'}" >
        <table>
            <td class="tx-staffm bold"><f:translate key="tx_staffm_domain_model_qualifikation.bezeichnung" />:&nbsp;</td><td>{qualifikation.bezeichnung}</td><br />
        </table>      
        <table  class="tx_staffm" >
            <tr>
                <th><f:translate key="tx_staffm_domain_model_mitarbeiter.lastName" /></th>  
                <th><f:translate key="tx_staffm_domain_model_mitarbeiter.firstName" /></th>
                <th><f:translate key="tx_staffm_domain_model_mitarbeiter.position" /></th>
                <th><f:translate id="staffm.active" /></th>
                <th><f:translate key="tx_staffm_domain_model_employeequalification.status" /></th>
                <th><f:translate key="tx_staffm_domain_model_employeequalification.reminder_date" /></th>
                <th><f:translate key="tx_staffm_domain_model_employeequalification.note" /></th>            
            </tr>
            <f:for each="{mitarbeiters}" as="mitarbeiter">
                    <tr>
                        <f:if condition="{tv:qualiMitarbeiter(qu: qualifikation, m: mitarbeiter)} > 0">
                            <f:then>
                                <td class="td{mitarbeiter.uid}" style="background-color: red">{mitarbeiter.lastName}</td>
                                <td class="td{mitarbeiter.uid}" style="background-color: red">{mitarbeiter.firstName}</td>
                                <td class="td{mitarbeiter.uid}" style="background-color: red">{mitarbeiter.position.bezeichnung}</td>
                                <td class="td{mitarbeiter.uid}" style="background-color: red"><f:form.checkbox id="mitaCheck{mitarbeiter.uid}" name="mitarbeiters" value="{mitarbeiter.uid}" multiple="1" checked="1" additionalAttributes="{onClick: 'setCheckbox(this);'}" /></td>   
                                <td class="td{mitarbeiter.uid}" style="background-color: red"><f:form.select id="mitaSelect{mitarbeiter.uid}" name="qualificationsstatus[{mitarbeiter.uid}]" options="{qualifikation.status}" value="{tv:qualiStatus(mitarbeiter:mitarbeiter, qualifikation:qualifikation)}" /></td>
                                <td class="td{mitarbeiter.uid}" style="background-color: red"><f:form.textfield id="mitaReminderDate{mitarbeiter.uid}" name="qualificationsreminderdate[{mitarbeiter.uid}]" value="{tv:qualiReminderDate(mitarbeiter:mitarbeiter, qualifikation:qualifikation)}" additionalAttributes="{onclick: 'datepicker(this);'}" />&nbsp;<a title="Delete date" style="cursor:pointer" id="qualiReminderDeleteDate{mitarbeiter.uid}" onclick="delteReminderDate(this);"><f:image src="typo3conf/ext/Staffm/Resources/Public/Icons/icon_delete.svg" width="15" /></a></td>
                                <td class="td{mitarbeiter.uid}" style="background-color: red"><f:form.textarea id="mitaText{mitarbeiter.uid}" name="qualificationsnotes[{mitarbeiter.uid}]" value="{tv:qualiNote(mitarbeiter:mitarbeiter, qualifikation:qualifikation)}" /></td>
                            </f:then>
                            <f:else>
                                <td class="td{mitarbeiter.uid}">{mitarbeiter.lastName}</td>
                                <td class="td{mitarbeiter.uid}">{mitarbeiter.firstName}</td>
                                <td class="td{mitarbeiter.uid}">{mitarbeiter.position.bezeichnung}</td>
                                <td class="td{mitarbeiter.uid}"><f:form.checkbox id="mitaCheck{mitarbeiter.uid}" name="mitarbeiters" value="{mitarbeiter.uid}" multiple="1" checked="0" additionalAttributes="{onClick: 'setCheckbox(this);'}" /></td>   
                                <td class="td{mitarbeiter.uid}"><f:form.select id="mitaSelect{mitarbeiter.uid}" name="qualificationsstatus[{mitarbeiter.uid}]" options="{qualifikation.status}" value="" disabled="TRUE" /></td>
                                <td class="td{mitarbeiter.uid}"><f:form.textfield id="mitaReminderDate{mitarbeiter.uid}" name="qualificationsreminderdate[{mitarbeiter.uid}]" value="" additionalAttributes="{onclick: 'datepicker(this);'}" disabled="TRUE" readonly="TRUE" />&nbsp;<a title="Delete date" style="cursor:pointer" id="qualiReminderDeleteDate{mitarbeiter.uid}" onclick="delteReminderDate(this);"><f:image src="typo3conf/ext/Staffm/Resources/Public/Icons/icon_delete.svg" width="15" /></a></td>
                                <td class="td{mitarbeiter.uid}"><f:form.textarea id="mitaText{mitarbeiter.uid}" name="qualificationsnotes[{mitarbeiter.uid}]" value="" disabled="TRUE" /></td>
                            </f:else>
                        </f:if>
                    </tr>
            </f:for>
        </table>
        <br />
        <div class="btn-group" role="group">
            <f:link.action class="btn btn-secondary" action="edit" controller="Qualifikation" arguments="{qualifikation:qualifikation, berechtigung:berechtigung}"><f:translate id="staffm.back" /></f:link.action>
            <button class="btn btn-success" type="submit"><f:translate id="staffm.choose" /> <f:translate id="staffm.text.uebergeben" /></button><!--<f:form.submit class="btn btn-default" value="Auswahl übergeben" />-->
        </div>
    </f:form>
    <script>        
        /**
         * Show Date picker
         * 
         * @param {type} stat
         * @returns {undefined}
         */
        function datepicker(stat) {            
            var wholeid = stat.id; 
            // Button with icon for Datepicker
            $("#" + wholeid).datepicker({
                changeMonth: true,
                changeYear: true,
                showOn: "button",
                buttonImage: "typo3conf/ext/Staffm/Resources/Public/Icons/calendar.gif",
                buttonImageOnly: true,
                buttonText: "Select date"
            });
            $("#" + wholeid).on( "change", function() {
                $("#" + wholeid).datepicker("option", "dateFormat", "yy-mm-dd");  
                $("#" + wholeid).datepicker("option", "showAnim", "slide");
            });
        }
        
        /**
         * Delete the Date
         * 
         * @param {type} stat
         * @returns {undefined}
         */
        function delteReminderDate(stat) {
            var wholeid = stat.id;
            var id = wholeid.substring(23);              
            var elemReminderDate = document.getElementById("qualiReminderDate" + id);
            elemReminderDate.value = "";
        }
        
        /**
         * Checkbox 
         * Set/unset checkboxes and enable/disable fields
         * 
         * @param string stat
         * @return void
         */
        function setCheckbox(stat) {
            var wholeid = stat.id;            
            var id = wholeid.substring(9);         
            var cb = document.getElementById(wholeid);
            var elem = document.getElementsByClassName("td" + id);
            var elemSelect = document.getElementById("mitaSelect" + id);
            var elemText = document.getElementById("mitaText" + id);
            var elemReminderDate = document.getElementById("mitaReminderDate" + id);
            
            if (cb.checked === true) {
                cb.checked = true;                
                for (var i = 0; i < elem.length; i++) {
                    elem[i].style.backgroundColor = "red";                    
                }
                elemSelect.disabled = false;
                elemSelect.value = 1;
                elemText.disabled = false;
                elemReminderDate.disabled = false;
            } else {
                cb.checked = false;
                for (var i = 0; i < elem.length; i++) {
                   
                    elem[i].style.backgroundColor = ""; 
                }
                elemSelect.disabled = true;
                elemSelect.value = "";
                elemText.disabled = true;
                elemText.value = "";
                elemReminderDate.disabled = true;
                elemReminderDate.value = "";
            }
        }
    </script>
</f:section>