
<f:layout name="Default" />
<f:section name="main">
    <h1><f:translate id="staffm.mitarbeiter.show.headline" /></h1>   
    <f:flashMessages />
    <f:render partial="Mitarbeiter/Properties" arguments="{mitarbeiter:mitarbeiter, search:search, aktuser:aktuser, userKey:userKey}" /><br />
    <div class="btn-group">
        <f:if condition="{userKey} == 'Vgs'">
            <f:then>
                <f:link.action section="ma{mitarbeiter.uid}" class="btn btn-secondary" action="listVgs" arguments="{maid: 'maid', search:search, searchstatus:searchstatus, char:char, key:key, userKey:userKey}"><f:translate id="staffm.back" /></f:link.action>
            </f:then>
            <f:else>
                <f:link.action section="ma{mitarbeiter.uid}" class="btn btn-secondary" action="list" arguments="{maid: 'maid', search:search, searchstatus:searchstatus, char:char, key:key, userKey:userKey}"><f:translate id="staffm.back" /></f:link.action>
            </f:else>
        </f:if>
    </div>
</f:section>
