{namespace vhs = FluidTYPO3\Vhs\ViewHelpers}

<label class="tx-staffm bold" for="name">
    <f:translate key="tx_staffm_domain_model_category.name" />
</label><br />
<f:form.textfield class="form-control" property="name" /><br />
<f:if condition="{category}">
    <f:render partial="Category/Qualification/CategoryQualifications" arguments="{category:category}" />
    <br />
    <f:link.action class="btn btn-default" action="list" controller="Qualifikation" arguments="{category:category, key:'chooseQualiForCategory', standardsearch:search, cache:'notcache'}"><f:translate id="staffm.choose" /></f:link.action><br /><br />
</f:if>