
<table class="tx_staffm table-left" >     
	<tr>
		<td>
			<f:translate key="tx_staffm_domain_model_category.name" />
		</td>
		<td>
			{category.name}
		</td>
	</tr>
        <tr>  
            <td>
                <f:translate key="tx_staffm_domain_model_category.qualifications" />
            </td>
            <td>
                <f:render partial="Category/Qualification/CategoryQualifications" arguments="{category:category, label:'no'}" />
            </td>
        </tr>
</table>
<br style="clear: both" />