
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for Mitarbeitersoftware</h1>

<f:flashMessages />

<table  class="tx_staffm" >
	<tr>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{mitarbeitersoftwares}" as="mitarbeitersoftware">
		<tr>
			<td><f:link.action action="edit" arguments="{mitarbeitersoftware : mitarbeitersoftware}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{mitarbeitersoftware : mitarbeitersoftware}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Mitarbeitersoftware</f:link.action>
</f:section>