{namespace vhs = FluidTYPO3\Vhs\ViewHelpers}
{namespace tv = Pmwebdesign\Staffm\ViewHelpers}

<f:variable name="aktuser" value="{tv:finduser()}" />
<f:variable name="admin" value="{tv:isAdmin()}" />
<f:variable name="adminQS" value="{tv:isAdminQualificationStatus()}" />
<h2><f:translate id="staffm.text.zugeordnete" /> <f:translate key="tx_staffm_domain_model_mitarbeiter" /> (<f:count subject="{qualifikation.employeequalifications}" />)</h2>
<table class="tx_staffm">    
    <tr>
        <th></th>
        <th><f:translate key="tx_staffm_domain_model_mitarbeiter.personalnummer" /></th>
        <th><f:translate key="tx_staffm_domain_model_mitarbeiter.last_name" /></th>
        <th><f:translate key="tx_staffm_domain_model_mitarbeiter.first_name" /></th>
        <th><f:translate key="tx_staffm_domain_model_mitarbeiter.title" /></th>
        <th><f:translate key="tx_staffm_domain_model_mitarbeiter.telephone" /></th>    
        <f:if condition="{tv:isCostCenterResponsible(employee: aktuser, withDeputy: 1)} > 0 || {adminQS} == TRUE">
            <th><f:translate key="tx_staffm_domain_model_qualifikation.status" /></th>
        </f:if>
        <f:if condition="{admin} == TRUE"><th class="staffmmobilehidden"></th></f:if>
    </tr> 
    <tv:widget.qualiStatus objects="{qualifikation.employeequalifications}" as="filteredEmployeequalifications" property="check" admin="{adminQS}">  
        <f:variable name="admin" value="{tv:isAdmin()}" />
        <f:variable name="adminQS" value="{tv:isAdminQualificationStatus()}" />
        <f:for each="{filteredEmployeequalifications -> vhs:iterator.sort(sortBy: 'status')}" as="ma" reverse="true"> 
            <tr id="ma{ma.uid}">
                <td>
                    <f:if condition="{ma.employee.image}">
                        <f:for each="{ma.employee.image}" as="img" key="key" iteration="iterator">    
                            <f:if condition="{iterator.isFirst}">
                                <f:link.action controller="Mitarbeiter" action="showKst" arguments="{ma : ma.employee, qualifikation:qualifikation, key: 'auswahlKst', search:search}"><f:image class="tx_staffm profilbild klein" src="{img}" treatIdAsReference="1" /></f:link.action>                                            
                            </f:if>
                        </f:for>                        
                    </f:if>                        
                </td>
                <td><f:link.action controller="Mitarbeiter" action="showKst" arguments="{ma : ma.employee, qualifikation:qualifikation, key: 'auswahlKst', search:search}">{ma.employee.personalnummer}</f:link.action></td>
                <td><f:link.action controller="Mitarbeiter" action="showKst" arguments="{ma : ma.employee, qualifikation:qualifikation, key: 'auswahlKst', search:search}">{ma.employee.lastName}</f:link.action></td>
                <td><f:link.action controller="Mitarbeiter" action="showKst" arguments="{ma : ma.employee, qualifikation:qualifikation, key: 'auswahlKst', search:search}">{ma.employee.firstName}</f:link.action></td>
                <td><f:link.action controller="Mitarbeiter" action="showKst" arguments="{ma : ma.employee, qualifikation:qualifikation, key: 'auswahlKst', search:search}">{ma.employee.title}</f:link.action></td>
                <td><f:link.action controller="Mitarbeiter" action="showKst" arguments="{ma : ma.employee, qualifikation:qualifikation, key: 'auswahlKst', search:search}">{ma.employee.telephone}</f:link.action></td>
                <f:if condition="{tv:isCostCenterResponsible(employee: aktuser, withDeputy: 1)} > 0 || {adminQS} == TRUE">
                    <td><f:link.action controller="Mitarbeiter" action="showKst" arguments="{ma : ma.employee, qualifikation:qualifikation, key: 'auswahlKst', search:search}" title="{qualifikation.status.{ma.status}}">{f:if(condition: '{ma.showstatus} == TRUE || {adminQS} == TRUE', then: '{ma.status}', else: '{f:translate(id: \'staffm.text.visible.supervisor\')}')}</f:link.action></td>
                </f:if>
                <f:for each="{ma.employeequalifications}" as="employeequalification">
                    <f:if condition="{qualifikation} == {employeequalification.qualification}">
                        <td><f:link.action controller="Mitarbeiter" action="showKst" arguments="{ma : ma.employee, qualifikation:qualifikation, key: 'auswahlKst', search:search}"></f:link.action></td>
                    </f:if>
                </f:for>           
                <f:if condition="{edit} != 'no'">
                    <f:if condition="{admin} == TRUE">
                        <f:then>                    
                            <td class="staffmmobilehidden">
                                <div class="btn-group" style="float: right">
                                    <f:link.action class="btn btn-secondary btn-sm" title="{ma.employee.firstName} {ma.employee.lastName} bearbeiten" controller="Mitarbeiter" action="edit" arguments="{mitarbeiter : ma.employee}"><f:translate id="staffm.edit" /></f:link.action>
                                    <f:link.action class="btn btn-danger btn-sm" controller="Mitarbeiter" action="delete" arguments="{mitarbeiter : ma.employee}"><f:translate id="staffm.delete" /></f:link.action>
                                </div>
                            </td>                    
                        </f:then>
                        <f:else>
                            <f:if condition="{aktuser.position} != 0">
                                <!-- Kostenstellenverantwortung prüfen -->                                
                                <f:for each="{kostenstellen}" as="kst">                                    
                                    <f:if condition="{kst.uid} == {ma.employee.kostenstelle.uid}">
                                        <td><f:link.action class="btn btns-sm btn-secondary" controller="Mitarbeiter" action="editKst" arguments="{ma : ma.employee, qualifikation:qualifikation, key: 'auswahlKst'}"><f:translate id="staffm.edit" /></f:link.action></td>
                                    </f:if>    
                                </f:for>
                            </f:if>
                        </f:else>
                    </f:if>
                </f:if>
            </tr>        
        </f:for>    
    </tv:widget.qualiStatus>
</table>
