
<f:form action="update" controller="Category" arguments="{category:category, key:key, berechtigung:berechtigung}" additionalAttributes="{role: 'form'}" >  
    <table>
        <td class="tx-staffm bold"><f:translate key="tx_staffm_domain_model_category" />:&nbsp;</td><td>{category.name}</td><br />
    </table>            
    <table  class="tx_staffm" >
        <tr>                        
            <th><f:translate key="tx_staffm_domain_model_qualifikation.bezeichnung" /></th> 
            <th><f:translate id="staffm.active" /></th>
        </tr>
        <f:for each="{qualifikations}" as="qualification">
            <tr>                            
            <f:if condition="{tv:categoryQualification(c:category, qu: qualification)} > 0">
                <f:then>                       
                    <td class="td{qualification.uid}" style="background-color: red">{qualification.bezeichnung}</td>                                         
                    <td class="td{qualification.uid}" style="background-color: red"><f:form.checkbox id="qualiCheck{qualification.uid}" additionalAttributes="{onClick:'setCheckbox(this);'}" name="qualifikationen" value="{qualification.uid}" multiple="1" checked="1" /></td>                                                    
                </f:then>
                <f:else>
                    <td class="td{qualification.uid}">{qualification.bezeichnung}</td>                                         
                    <td class="td{qualification.uid}"><f:form.checkbox id="qualiCheck{qualification.uid}" additionalAttributes="{onClick:'setCheckbox(this);'}" name="qualifikationen" value="{qualification.uid}" multiple="1" checked="0" /></td>                                                    
                </f:else>
            </f:if>
            </tr>
        </f:for>
    </table>
    <br />
    <div class="btn-group" role="group">
        <f:link.action class="btn btn-secondary" action="edit" controller="Category" arguments="{category:category, berechtigung:berechtigung}"><f:translate id="staffm.back" /></f:link.action>
        <button class="btn btn-success" type="submit"><f:translate id="staffm.choose" /> <f:translate id="staffm.text.uebergeben" /></button>
    </div>
</f:form>
