{namespace vhs = FluidTYPO3\Vhs\ViewHelpers}
<f:form action="update" controller="Mitarbeiter" arguments="{mitarbeiter:mitarbeiter, key:key, berechtigung:berechtigung, userKey:userKey}" additionalAttributes="{role: 'form'}" >  
    <f:comment><!-- Buttons for Qualification categories --></f:comment>
    <f:form.hidden id="categoryfield" name="categoryfield" value="{categoryfield}" />
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a style="cursor: pointer" class="catBtn nav-link{f:if(condition:'{categoryfield} != \'catAll\'',then: '', else: ' active')}" id="catAll" onclick="selectQualificationButtons(this);">All</a>
        </li>
        <li class="nav-item">
            <a style="cursor: pointer" class="catBtn nav-link" id="catActive" onclick="selectQualificationButtons(this);">Active</a>
        </li>
        <f:for each="{categories -> vhs:iterator.sort(sortBy: 'category.name')}" as="category">
            <li class="nav-item">
                <a style="cursor: pointer" class="catBtn nav-link{f:if(condition:'{categoryfield} == {category.name}',then: ' active')}" id="cat{category.name}" onclick="selectQualificationButtons(this);">{category.name}</a>
            </li>            
        </f:for>
    </ul>
    <table>
        <td class="tx-staffm bold">Name:&nbsp;</td><td>{mitarbeiter.LastName} {mitarbeiter.firstName}</td><br />
    </table>            
    <table  class="tx_staffm" >
        <tr>                        
            <th><f:translate key="tx_staffm_domain_model_qualifikation.bezeichnung" /></th> 
            <th><f:translate id="staffm.active" /></th>
            <th><f:translate key="tx_staffm_domain_model_employeequalification.status" /></th>
            <th><f:translate key="tx_staffm_domain_model_employeequalification.reminder_date" /></th>
            <th><f:translate key="tx_staffm_domain_model_employeequalification.note" /></th>
        </tr>
        <f:for each="{qualifikations}" as="qualifikation">            
            <f:if condition="{tv:quali(m:mitarbeiter, qu: qualifikation)} > 0">
                <f:then>   
                    <tr class="catAll catActive {f:if(condition: i.isLast, then: '{category.name}', else: '{category.name} ') -> f:for(each:'{qualifikation.categories}', as: 'category', iteration: 'i')}">   
                        <td title="{qualifikation.beschreibung}" class="td{qualifikation.uid}" style="background-color: #BCEE68;cursor: help">{qualifikation.bezeichnung}</td>                                         
                        <td class="td{qualifikation.uid}" style="background-color: #BCEE68"><f:form.checkbox id="qualiCheck{qualifikation.uid}" additionalAttributes="{onClick:'setCheckbox(this);'}" name="qualifikationen" value="{qualifikation.uid}" multiple="1" checked="1" /></td>                                 
                        <td class="td{qualifikation.uid}" style="background-color: #BCEE68"><f:form.select id="qualiSelect{qualifikation.uid}" name="qualificationsstatus[{qualifikation.uid}]" options="{qualifikation.status}" value="{tv:qualiStatus(mitarbeiter:mitarbeiter, qualifikation:qualifikation)}" /></td>                                 
                        <td class="td{qualifikation.uid}" style="background-color: #BCEE68"><f:form.textfield id="qualiReminderDate{qualifikation.uid}" name="qualificationsreminderdate[{qualifikation.uid}]" value="{tv:qualiReminderDate(mitarbeiter:mitarbeiter, qualifikation:qualifikation)}" additionalAttributes="{onclick:'datepicker(this);'}" readonly="TRUE" />&nbsp;<a title="Delete date" style="cursor:pointer" id="qualiReminderDeleteDate{qualifikation.uid}" onclick="delteReminderDate(this);"><f:image src="typo3conf/ext/Staffm/Resources/Public/Icons/icon_delete.svg" width="15" /></a></td>
                        <td class="td{qualifikation.uid}" style="background-color: #BCEE68"><f:form.textarea rows="1" class="qualiSelectNotice" id="qualiText{qualifikation.uid}" name="qualificationsnotes[{qualifikation.uid}]" value="{tv:qualiNote(mitarbeiter:mitarbeiter, qualifikation:qualifikation)}" /></td>                        
                    </tr>
                </f:then>
                <f:else>
                    <tr class="catAll {f:if(condition: i.isLast, then: '{category.name}', else: '{category.name} ') -> f:for(each:'{qualifikation.categories}', as: 'category', iteration: 'i')}">   
                        <td title="{qualifikation.beschreibung}" class="td{qualifikation.uid}" style="cursor: help">{qualifikation.bezeichnung}</td>                                         
                        <td class="td{qualifikation.uid}"><f:form.checkbox id="qualiCheck{qualifikation.uid}" additionalAttributes="{onClick:'setCheckbox(this);'}" name="qualifikationen" value="{qualifikation.uid}" multiple="1" checked="0" /></td>                                 
                        <td class="td{qualifikation.uid}"><f:form.select id="qualiSelect{qualifikation.uid}" name="qualificationsstatus[{qualifikation.uid}]" options="{qualifikation.status}" value="" disabled="TRUE" /></td>
                        <td class="td{qualifikation.uid}"><f:form.textfield id="qualiReminderDate{qualifikation.uid}" name="qualificationsreminderdate[{qualifikation.uid}]" value="" additionalAttributes="{onclick:'datepicker(this);'}" disabled="TRUE" readonly="TRUE" />&nbsp;<a title="Delete date" style="cursor:pointer" id="qualiReminderDeleteDate{qualifikation.uid}" onclick="delteReminderDate(this);"><f:image src="typo3conf/ext/Staffm/Resources/Public/Icons/icon_delete.svg" width="15" /></a></td>
                        <td class="td{qualifikation.uid}"><f:form.textarea rows="1" class="qualiSelectNotice" id="qualiText{qualifikation.uid}" name="qualificationsnotes[{qualifikation.uid}]" value="" disabled="TRUE" /></td>                        
                    </tr>
                </f:else>
            </f:if>           
        </f:for>
    </table>
    <br />
    <div class="btn-group" role="group">
        <f:link.action class="btn btn-secondary" action="edit" controller="Mitarbeiter" arguments="{mitarbeiter:mitarbeiter, berechtigung:berechtigung, key:key, userKey:userKey}"><f:translate id="staffm.back" /></f:link.action>
        <button class="btn btn-success" type="submit"><f:translate id="staffm.choose" /> <f:translate id="staffm.text.uebergeben" /></button><!--<f:form.submit class="btn btn-default" value="Auswahl übergeben" />-->
    </div>    
    <script>
        $(function(){
            // List qualifications of given category            
            var elemCategoryfield = document.getElementById("categoryfield");             
            var wholeid = elemCategoryfield.value;              

            var allElements = document.getElementsByClassName("catAll");

            if (wholeid != 'catAll') {
                for (var i = 0; i < allElements.length; i++) {
                    allElements[i].style.display = 'none';
                }
            }     

            var elements;            
            // Clicked all qualifications?
            if (wholeid == 'catAll') {
                elements = document.getElementsByClassName("catAll");              
            // Clicked category button?
            } else {
                var elemId = wholeid;
                elements = document.getElementsByClassName(elemId);                
            }
            // Show identified qualifications
            for (var i = 0; i < elements.length; i++) {
                elements[i].style.display = 'table-row';
            }  
            
        });
        
        /**
         * Show qualifications of clicked category button
         * 
         * @param {type} stat
         * @returns {undefined}
         */
        function selectQualificationButtons(stat) {
            var wholeid = stat.id;               
            var elemIdClicked = document.getElementById(wholeid);
            var elemCategories = document.getElementsByClassName("catBtn");
            var elemCategoryfield = document.getElementById("categoryfield");
            
            elemCategoryfield.value = wholeid;
            
            for (var i = 0; i < elemCategories.length; i++) {
                elemCategories[i].setAttribute(name="class", value="catBtn nav-link");
            }
            
            elemIdClicked.setAttribute(name="class", value="catBtn nav-link active");
            
            var allElements = document.getElementsByClassName("catAll");
            
            if (wholeid != 'catAll') {
                for (var i = 0; i < allElements.length; i++) {
                    allElements[i].style.display = 'none';
                }
            }
                        
            var elements;
            // Clicked all qualifications?
            if (wholeid == 'catAll') {
                elements = document.getElementsByClassName("catAll");  
            // Clicked active qualifications?
            } else if (wholeid == 'catActive') {
                elements = document.getElementsByClassName("catActive");                
            // Clicked category button?
            } else {
                var elemId = wholeid.substring(3);
                elements = document.getElementsByClassName(elemId);                
            }
            // Show identified qualifications
            for (var i = 0; i < elements.length; i++) {
                elements[i].style.display = 'table-row';
            }            
        }
    </script>
</f:form>