{namespace tv = Pmwebdesign\Staffm\ViewHelpers}

<f:layout name="Default" />
<f:section name="main">
    <h1><f:translate id="staffm.category.list.headline" /></h1>
    <f:flashMessages />
    <f:if condition="{key} == 'chooseCategoryForQuali'">
        <f:then>
            <f:render partial="Category/List/CategoriesForQualification" arguments="{_all}" />
        </f:then>
        <f:else>
            <f:render partial="Category/List/List" arguments="{_all}" />
        </f:else>
    </f:if>
</f:section>