{namespace tv = Pmwebdesign\Staffm\ViewHelpers}

<f:layout name="Default" />
<f:section name="main">
    <h1><f:translate id="staffm.category.show.headline" /></h1>
    <f:flashMessages />
    <f:render partial="Category/Properties" arguments="{category:category}" /><br />   
    <f:if condition="{employee}">
        <f:then>
            <f:link.action class="btn btn-default" controller="Mitarbeiter" action="show" arguments="{mitarbeiter: employee.uid}"><f:translate id="staffm.back" /> (<f:translate key="tx_staffm_domain_model_mitarbeiter" />)</f:link.action>
        </f:then>
        <f:else>
            <f:link.action class="btn btn-default" action="list"><f:translate id="staffm.back" /></f:link.action>
        </f:else>
    </f:if>    
</f:section>